@use "colors";
@use "mixins/head";
@use "sass:string";
@use "mixins/rounded";
main {
    display: flex;
    grid-area: body;
    min-height: 81.2dvb;
    height: max-content;
    align-items: center;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(160deg,colors.$bg-100,colors.$bg-200);
    box-sizing: border-box;
    width: 100%;
}
[class*=#{string.quote("col-")}]{
    width: 100%;
    min-height: 20px;
}
.skills-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;

    & > article:last-child{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.skill-title{
    @include head.head-size(6,quote(center));
    width: 100%;
}
.spacing{
    height: 5dvh;
    width: 100%;
}

.primary-100{
    background:linear-gradient(180deg,colors.$primary-100,colors.$primary-200 50%);
}
.primary-200{
    background:linear-gradient(180deg,colors.$primary-200,colors.$primary-300 50%);
}
.bg-100{
    background:linear-gradient(180deg,colors.$bg-100,colors.$bg-200 50%);
}
.bg-200{
    background:linear-gradient(180deg,colors.$bg-200,colors.$bg-300 50%);
}

@include rounded.rounded();

.description{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>h1{
        @include head.head-size(6,quote(start));
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    &>h2{
        @include head.head-size(3);
        width:100%;
    }
}
.container{
    width: 100%;
    min-height: 78dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    background:url("/assets/pattern.svg") transparent;
}

.description-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &>img{
        border-radius: 50%;
    }
}

@media screen and (min-width:480px) and (max-width:900px) {
    main {
        display: flex;
        grid-area: body;
        min-height: 81.2dvb;
        height: max-content;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5rem;
        background: linear-gradient(160deg,colors.$bg-100,colors.$bg-200);
        box-sizing: border-box;
        width: 100%;
    }

    .spacing{
        height: 5dvh;
        width: 100%;
    }

    @for $i from 1 through 12{
        $width:(($i*100%)/12);
        .col-#{$i}{
            width:#{$width} ;
            min-height: 20px;
        }
    }  

    
    .skills-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: max-content;
        gap: 10px;
        box-sizing: border-box;
        flex-wrap: wrap;
        & > article:last-child{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .skill-title{
        @include head.head-size(6,quote(center));
        width: 100%;
    }

    .container{
        width: 90%;
        min-height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top:20px;
        margin-bottom: 20px;
        background: transparent;
        padding: 5px;
        background:url("/assets/pattern.svg") transparent;
    }
    
    .description{
        padding: 5dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>h1{
            @include head.head-size(6,quote(start));
            display:flex;
            flex-direction: row;
            width: 100%;
        }
        &>h2{
            @include head.head-size(3,quote(start));
        }
    }
}


@media screen and (min-width:900px) and (max-width:5000px) {
    @for $i from 1 through 12{
        $width:(($i*100%)/12);
        .col-#{$i}{
            width:#{$width} ;
            min-height: 20px;
        }
    }
    main {
        display: flex;
        grid-area: body;
        min-height: 81.2dvb;
        height: max-content;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5rem;
        background: linear-gradient(160deg,colors.$bg-100,colors.$bg-200);
        box-sizing: border-box;
        width: 100%;
    }
    .spacing{
        height: 5dvh;
        width: 100%;
    }
    
    .description{
        padding: 5dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>h1{
            @include head.head-size(6,quote(start));
            display:flex;
            flex-direction: row;
            width: 100%;
        }
        &>h2{
            @include head.head-size(3,quote(start));
            display:flex;
            flex-direction: row;
            width: 100%;
        }
    }

    .container{
        width: 80%;
        min-height: 70dvh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 5px;
        background:url("/assets/pattern.svg") transparent;
    }


    .skills-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: fit-content;
        gap: 10px;
        box-sizing: border-box;
        & > article:last-child{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: fit-content;
        }
    }

    .skill-title{
        @include head.head-size(6,quote(center));
        width: 100%;
    }
}