---
import Layout from "../../layouts/Layout.astro";
import works from "../../assets/data/works.json";
import "../../assets/styles/WorkCard.css";
---

<Layout>
    <section class="container rounded-3" style="flex-direction: column;">
        {
            works.works.es.map((work,key) => {
                return <section class="work-card rounded-3" key={key} >
                            <div class="work-icon"><img src={"https://luispachs.github.io/"+work.logo} class="work-logo rounded-50"/></div>
                            <div class="work-head"><h3 class="work-title">{work.business}</h3></div>
                            <div class="work-body"><p class="work-description">{work.description}</p></div>
                        </section>;
            })
        }
    </section>
</Layout>