---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="content-block">
        <article></article>
        <article>
            <p>Some Text</p>
        </article>
    </section>
</Layout>

