---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="container">
        <article class="description col-6">
            <h1>
                Desarrollador / Desarrollador Web con 2 años de experiencia creando, modificando, probando y 
                desplegando aplicaciones creadas con lenguajes y herramientas tecnológicas, orientado a 
                microservicios.  Capacidad de resolutiva, Trabajo en equipo, Liderazgo, Comunicación asertiva. 
            </h1>
        </article>
        <article class="description-image col-6"></article>
    </section>
    <section class="container">
        <article class="col-6 description"></article>
        <article class="col-6 description"></article>
    </section>
</Layout>
